<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品类别</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../css/productType.css">
    <script src="../js/constant.js"></script>
</head>
<body>
<div id="app">
    <el-breadcrumb class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/' }">产品管理</el-breadcrumb-item>
        <el-breadcrumb-item>产品系列管理</el-breadcrumb-item>
    </el-breadcrumb>
    <br/>
    <el-form :inline="true" id="productTypeSelect">
        <el-input placeholder="请输入查询系列编号(支持模糊查询)" v-model="selectParams.productSeriesId"></el-input>
        <el-input placeholder="请输入查询中文名称(支持模糊查询)" v-model="selectParams.productTypeChName"></el-input>
        <el-input placeholder="请输入查询英文名称(支持模糊查询)" v-model="selectParams.productTypeEngName"></el-input>
        <el-button type="primary" icon="el-icon-search" @click="search()">搜索</el-button>
        <el-button type="primary" icon="el-icon-edit-outline" @click="add()">添加</el-button>
    </el-form>
    <br/>
    <el-row>
        <el-col span="20">
            <el-table
                    :data="productTypeVOList"
                    style="width: 100%">
                <el-table-column
                        prop="productSeriesId"
                        label="产品系列ID"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="productTypeChName"
                        label="产品中文名称"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="productTypeEngName"
                        label="产品英文名称">
                </el-table-column>
                <el-table-column
                        prop="remitInfoSummary"
                        label="汇款信息概略" width="200">
                </el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                @click="handleEdit(scope.$index, scope.row)">编辑
                        </el-button>
                        <el-button
                                size="mini"
                                @click="remitInfo(scope.$index, scope.row)">汇款信息
                        </el-button>
                        <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.$index, scope.row)">删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-col>
    </el-row>
    <el-row>
        <el-col span="20" offset="5">
<!--            <el-pagination-->
<!--                    @size-change="pageSizeChange"-->
<!--                    @current-change="nowPageChange"-->
<!--                    :current-page="pageInfo.nowPage"-->
<!--                    :page-sizes="[5,10,15,20]"-->
<!--                    :page-size="pageInfo.pageNum"-->
<!--                    layout="total, sizes, prev, pager, next, jumper"-->
<!--                    :total="pageInfo.total">-->
<!--            </el-pagination>-->
        </el-col>
    </el-row>
</div>
</body>
<script src="../js/productType.js"></script>
</html>