.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
body{
    background-image: url(../img/1.jpg);
}

.clearfix:after {
    clear: both
}

.box-card {
    width: 480px;
    margin: 300px auto;
}

.Center {
    text-align: center;
}

.login-form {
    width: 80%;
    margin: 0 auto;
}

.reg-button {
    text-align: right;
}
.reg-dialog {
    margin: 0 auto;
    width: 50%;
}