
*{
    margin: 0;
    padding: 0;
}

.role-menu{
    text-align:right;
}



.page-menu{
    height:980px;
}

.menu-title{
    height:100px;
    text-align:center;
    font-size:32px;
    margin-top:50px;
}
.el-main{
    margin: 0;
    padding: 0;
}
.el-header{
    margin: 0;
    padding: 0;
}
.el-aside{
    margin: 0;
    padding: 0;
}
iframe{
    background-color: aliceblue;
}