
*{
    margin: 0;
    padding: 0;
}

.role-menu{
    text-align:right;
}

body{
    background-color: #545c64;
    color: aliceblue;
}

.page-menu{
    height:1000px;
}

.menu-title{
    height:100px;
    text-align:center;
    font-size:32px;
    margin-top:50px;
}