<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜单管理</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../css/menuManage.css">
    <script src="../js/constant.js"></script>
</head>
<body>
<div id="app">
    <el-card class="box-card">
        <!-- 查询控件 -->
        <el-form :inline="true" :model="pageSelect" class="demo-form-inline">
            <el-form-item label="菜单名">
                <el-input v-model="pageSelect.menuName" placeholder="请输入查询的用户姓名"></el-input>
            </el-form-item>
            <el-form-item label="父级菜单">
                <el-select v-model="pageSelect.permissionId" placeholder="请选择">
                    <el-option
                            v-for="parentMenu in parentMenus"
                            :key="parentMenu.permissionId"
                            :label="parentMenu.permissionName"
                            :value="parentMenu.permissionId">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="queryPageSelect">查询</el-button>
                <el-button type="primary" @click="addFlag=true">新增</el-button>
            </el-form-item>
        </el-form>
        <!-- 表格显示 -->
        <el-table
                ref="multipleTable"
                :data="menuList"
                tooltip-effect="dark"
                style="width: 100%"
                stripe="true"
                border="true"
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    prop="permissionName"
                    label="菜单名称"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="parentId"
                    label="父级菜单编号"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="parentName"
                    label="父级菜单名称"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="permissionPath"
                    label="访问地址"
                    width="120">
            </el-table-column>
            <el-table-column
                    label="菜单图标"
                    width="120">
                <template slot-scope="scope">
                    <i :class="scope.row.permissionImage"></i>
                </template>
            </el-table-column>
            <el-table-column
                    label="操作"
                    show-overflow-tooltip>
                <template slot-scope="scope">
                    <el-button-group>
                        <el-button type="primary" icon="el-icon-orange" @click="showMenuInfo(scope.row)"></el-button>
                        <el-button type="primary" icon="el-icon-edit" @click="showSetMenuInfo(scope.row)"></el-button>
                        <el-button type="primary" icon="el-icon-delete" @click="reqDelMenu(scope.row)"></el-button>
                    </el-button-group>
                </template>
            </el-table-column>
        </el-table>

        <!-- 翻页组件 -->
        <el-pagination
                @size-change="SetPageCount"
                @current-change="SetNowPage"
                :current-page="page.nowPage"
                :page-sizes="[5, 10, 15, 20]"
                :page-size="page.pageCount"
                layout="total, sizes, prev, pager, next, jumper"
                :total="page.allCount">
        </el-pagination>

        <!-- 详情弹窗 -->
        <el-dialog title="菜单详情" :visible.sync="menuDetailsFlag">

            <el-descriptions class="margin-top" title="菜单详情" :column="1"  border>
                <el-descriptions-item>
                    <template slot="label">
                        菜单图标
                    </template>
                    <i :class="menuInfo.permissionImage"></i>
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-mobile-phone"></i>
                        菜单名称
                    </template>
                    {{menuInfo.permissionName}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-location-outline"></i>
                        父级菜单
                    </template>
                    {{menuInfo.parentName}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-tickets"></i>
                        访问地址
                    </template>
                    {{menuInfo.permissionPath}}
                </el-descriptions-item>
            </el-descriptions>
        </el-dialog>

        <!-- 修改弹窗 -->
        <el-dialog title="修改菜单" :visible.sync="setMenuFlag">
            <el-form :model="setMenuInfo" rules="vriSetMenu" ref="setMenuInfo" label-width="100px">
                <el-form-item label="菜单名">
                    <el-input v-model="setMenuInfo.permissionName"></el-input>
                </el-form-item>
                <el-form-item label="父级菜单">
                    <el-select v-model="setMenuInfo.parentId">
                        <el-option
                                v-for="parentMenu in parentMenus"
                                :key="parentMenu.permissionId"
                                :label="parentMenu.permissionName"
                                :value="parentMenu.permissionId">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="访问地址">
                    <el-input v-model="setMenuInfo.permissionPath"></el-input>
                </el-form-item>
                <el-form-item label="修改图标">
                    <el-input v-model="setMenuInfo.permissionImage"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
            <el-button @click="setMenu(false)">取 消</el-button>
             <el-button type="primary" @click="setMenu(true)">确 定</el-button>
        </span>
        </el-dialog>

        <!-- 新增弹窗 -->
        <el-dialog title="新增菜单 " :visible.sync="addFlag">
            <el-form :model="addMenuInfo"  label-width="80px" :rules="addMenuRule" ref="addMenuInfo">

                <el-form-item label="菜单名">
                    <el-input v-model="addMenuInfo.permissionName"></el-input>
                </el-form-item>
                <el-form-item label="父级菜单">
                    <el-select v-model="addMenuInfo.parentId">
                        <el-option
                                v-for="parentMenu in parentMenus"
                                :key="parentMenu.permissionId"
                                :label="parentMenu.permissionName"
                                :value="parentMenu.permissionId">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="访问地址">
                    <el-input v-model="addMenuInfo.permissionPath"></el-input>
                </el-form-item>
                <el-form-item label="修改图标">
                    <el-input v-model="addMenuInfo.permissionImage"></el-input>
                </el-form-item>

                <el-form-item>
                    <div class="reg-button">
                        <el-button @click="addMenu(false)">取 消</el-button>
                        <el-button type="primary" @click="addMenu(true)">确 定</el-button>
                    </div>
                </el-form-item>

            </el-form>
        </el-dialog>
    </el-card>
</div>

<script src="../js/menuManage.js"></script>

</body>
</html>