<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../css/userInfo.css">
    <script src="../js/constant.js"></script>
</head>
<body>
<div id="app">
    <el-card class="box-card">
        <div>
            <el-descriptions class="margin-top" title="个人信息" :column="1" :size="size" border>
                <template slot="extra">
                    <el-button type="primary" size="small" @click="setUserFlag=true">修改用户信息</el-button>
                </template>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-user"></i>
                        用户头像
                    </template>
                    <el-image style="width:100px;height:100px" :url="projectPath+userInfo.headPic"
                              fit="fill" alt="用户还没有设置头像"></el-image>
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-mobile-phone"></i>
                        用户id
                    </template>
                    {{userInfo.userId}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-location-outline"></i>
                        用户账号
                    </template>
                    {{userInfo.userAct}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-tickets"></i>
                        用户名
                    </template>
                    {{userInfo.userName == '' ? '还没有用户名':userInfo.userName}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-tickets"></i>
                        用户签名
                    </template>
                    {{userInfo.des == '' ? '还没有用户签名':userInfo.des}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-office-building"></i>
                        用户性别
                    </template>
                    {{userInfo.sex == 0 ? '男' : '女'}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-office-building"></i>
                        用户生日
                    </template>
                    {{userInfo.birthday==''?'2000-01-01':userInfo.birthday}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-office-building"></i>
                        用户爱好
                    </template>
                    {{userInfo.avatarColor == '' ? '用户没有爱好':userInfo.avatarColor}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-office-building"></i>
                        用户手机
                    </template>
                    {{userInfo.phone == '' ? '用户还没有设置联系方式':userInfo.avatarColor}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-office-building"></i>
                        用户当前角色
                    </template>
                    {{userInfo.roleName}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-office-building"></i>
                        用户最后登录时间
                    </template>
                    {{userInfo.lastLogin}}
                </el-descriptions-item>
            </el-descriptions>
        </div>
    </el-card>
    <el-dialog
            title="用户修改"
            :visible.sync="setUserFlag"
            width="30%">
        <el-form :model="setUserInfo" rules="vriSetUser" ref="setUserInfo" label-width="100px">
            <el-form-item label="用户名">
                <el-input v-model="setUserInfo.userName" placeholder="请输入内容"></el-input>
            </el-form-item>
            <el-form-item label="用户签名">
                <el-input v-model="setUserInfo.des" placeholder="请输入签名"></el-input>
            </el-form-item>
            <el-form-item label="用户性别">
                <el-radio v-model="setUserInfo.sex" label="0">男</el-radio>
                <el-radio v-model="setUserInfo.sex" label="1">女</el-radio>
            </el-form-item>
            <el-form-item label="用户生日">
                <el-date-picker v-model="setUserInfo.birthday" type="date" placeholder="选择日期"></el-date-picker>
            </el-form-item>
            <el-form-item label="用户爱好">
                <el-input v-model="setUserInfo.avatarColor" placeholder="请输入爱好"></el-input>
            </el-form-item>
            <el-form-item label="用户联系方式">
                <el-input v-model="setUserInfo.phone" placeholder="请输入联系方式"></el-input>
            </el-form-item>
            <el-form-item label="用户默认角色">
                <el-select v-model="setUserInfo.roles.nowRole" value-key="roleId" placeholder="请设置默认角色">
                    <el-option
                            v-for="role in setUserInfo.roles.userRoles"
                            :key="role.roleId"
                            :label="role.roleName"
                            :value="role">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="setUser(false)">取 消</el-button>
             <el-button type="primary" @click="setUser(true)">确 定</el-button>
        </span>
    </el-dialog>
</div>
<script src="../js/userInfo.js"></script>
</body>
</html>